<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <title>{% block title %} {% endblock %}</title>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}" type='module'></script>
    <script src="{{ url_for('static', filename='js/chat_connection.js') }}" type='module'></script>
  
</head>

<body>
    <div class="background"></div>
    {% block content %} {% endblock %}
</body>

</html>