{% extends 'base.html' %}

{% block content %}
<header>
  <nav class="navbar">
    <img class="logo" src="{{ url_for('static', filename='chitchat.png') }}" alt="Chatrooms Image">
    <ul class="navbar-horizontal-ul">
      <li class="navbar-horizontal-li margin-5px navbar-btn">
        <a href="/" class="btn-text">menu1</a>
      </li>
      <li class="navbar-horizontal-li margin-5px navbar-btn">
        <a href="/" class="btn-text">menu2</a>
      </li>
    </ul>
  </nav>
</header>

<section class="main-view">
  <label for="toggle">&lt; Chatrooms</label>
  <input id="toggle" type="checkbox" checked="">
  <aside class="chat-rooms">
    <form class="new-chatroom-form">
      <label for="new-chat">Create New Chat</label>
      <input type="text" id="new-chat" placeholder="chatroom-name" value="">
      <input type="submit" value="Create">
    </form>
    <ul>
      <li class=""><a href="/chat/chat-1">chat-1</a></li>
      <li class="selected"><a href="/chat/chat-2">chat-2</a></li>
      <li class=""><a href="/chat/chat-3">chat-3</a></li>
    </ul>
  </aside>
  <main class="chat">
    <ul class="messages-container square-message" class="square-message" id="log-content">
      <!-- Messages content here -->
    </ul>
    <form class="new-message">
      <input type="text" placeholder="message..." value="">
      <input type="submit" value="Send">
    </form>
  </main>
</section>
{% endblock %}